<div class=container>
  <% @christmastrees.each do |tree| %>
      <p><%= link_to tree.name, christmastree_path(tree) %></p>
      <%# <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %> %>
  <% end %>
</div>
