<div class=container mt-5>

<h3>Christmas trees available</h3>
<br>
  <% @christmastrees.each do |tree| %>

<div class="card-product mt-5">
 <img src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&imageId=2006176-847__1&recipeName=350" />
      <p><%= link_to tree.name, christmastree_path(tree), class: "card-product-infos" %></p>

  </div>
  <% end %>
</div>
