<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.username %>
<% @user.bookings.each do |booking| %>
  <%= booking.christmastree.name  %>
  <%= link_to "delete", christmastree_bookings_path(booking), data: { turbo_method: :delete } %>
    <% end %>
  <%# <%= link_to christmastree.destroy %>
