<div id="snow" data-controller="snow"></div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(https://cdn.windowsreport.com/wp-content/uploads/2019/12/Christmas-886x590.jpg);">
  <div class="container">
    <h1>AirBnTrees</h1>
    <p>This Christmas, rent the tree, keep the spirit</p>
    <%= link_to "Browse trees", christmastrees_path, class: "btn btn-success" %>
  </div>
</div>
<%# https://www.prairiegardens.com/wp-content/uploads/2018/11/2014_FORESTOFTREES-Feature-.jpg %>
