<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.prairiegardens.com/wp-content/uploads/2018/11/2014_FORESTOFTREES-Feature-.jpg);">
  <div class="container">
    <h1>AirBnTrees</h1>
    <p>Rent a Christmas tree from the biggest tree marketplace in the world!</p>
    <%= link_to "Browse trees", christmastrees_path, class: "btn btn-success" %>
  </div>
</div>
