.navbar-lewagon {
  justify-content: space-between;

  background: #042713;


  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 50px;
  z-index: 1100;


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .fa-tree {
  color: $green;
}

.navbar h4 {
  color: $red;
}

.navbar .nav-link{
  color: lightgray;
  opacity: 0.5;
}
.navbar .nav-link a:hover {
  opacity: 1;
}
