.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar .fa-tree {
<<<<<<< HEAD
  color: #198754;

=======
  color: $green;
}

.navbar h4 {
  color: $red;
>>>>>>> master
}
